body {
  padding: 0em;
  margin: 0em;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #0a1b1d;
  color: #fcfcfc;
  text-align: center;
  padding: 1em 0em;
}
.nav button {
  margin: 0em 1em;
  border: none;
}
.nav button:hover {
  cursor: pointer;
}
main {
  padding: 2em;
  background-color: #fcfcfc;
  color: #929797;
  flex-grow: 1;
}

footer {
  background-color: #0a1b1d;
  color: #fcfcfc;
  padding: 2em;
}
